*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
 .class-container{
  min-height: 100vh;
  background-color: blanchedalmond;
  border: 10px solid black;
 }
.image-container,img{
   width: 220px;
   height: 240px;
   border-radius: 50%;
   overflow: hidden;
}
.content{
  max-width: 900px;
  margin: 0 auto;
}
.top-section{
  display: flex;
  justify-content:space-between ;
  margin-top: 100px;
  align-items: flex-end;
}
.top-section h1{
  font-size: 50px;
  font-weight: bold;
  color:black;
}
.top-section h4{
  font-size: 30px;
  font-weight: bold;
  text-align: end;
}
.para-contain h2{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: 400;
}
.para-contain p{
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
  
}
.biography-section{
  margin-top: 20px;
  
}
.biography-section ul{
  margin-left: 50px;
}
.biography-section li{
  margin-bottom: 15px;
}

ul{
  margin-top: 10px;
}
footer{
  margin-top: 30px;
  text-align: end;
  margin: 50px 0;
}